body
{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    background: #f3f3f3;
}
nav ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-left: -30px;
}

.logo img{
    width: 100px;
    height: 100;
    background:transparent;
    display: inline-flex;
    padding: 20px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border-right: 1px solid;
    padding: 13px;
}
nav ul li a .fas{
    margin-right: 10px;
}
nav ul li a:hover{
    color: #fff;
    background: green;
    padding: 16px;
    border-radius: 5px;
}

.seller{
    text-align: right;
}
.bar{
    flex-direction: row;
    display: flex;
    flex: 1;
}
.bar .seller{
    padding: 35px;
    flex: 2;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: green;
}
.bar .seller:hover{
    cursor: pointer;
    color: #808080;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: green;
    text-align: right;
    box-sizing: border-box;
    color: #f2f2f2;
    font-size: 30px;
    display: none;
}
@media (max-width:600px)
{
    .toggle
    {
        display: block;
        cursor: pointer;
    }
    nav ul
    {
        width: 100%;
        display: none;
    }
    nav ul li
    {
        display: block;
        text-align: right;
    }
    .active
    {
        display: block;
    }
}
.bar h1{
    font-size: 30px;
    margin: 20px;
    color: green;
    margin-left: 0px;
}

/*body*/
#home {
    margin: 0;
    padding: 0;
    background-image: url(cb.JPG);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
#home .welcome{
    padding: 120px 60px;
}

#home .welcome h1{
    color: green;
    padding: 20px;
    text-shadow: 1px 1px grey;
    font-size: 40px;
}
#home .welcome p{
    font-size: 15px;
    padding: 20px;
    color: black;
    text-shadow: 1px 1px #fff;
}
/*side links*/
.col-md-2{
    background: #f3f3f3;
    border-right: 1px solid green;

}
.links{
    background: #f3f3f3;
}
.links ul{
    display: block;
    padding: 25px;
}
.links ul li{
    list-style: none;
    border-bottom: 1px solid #808080;
    padding-top: 10px;
}
.links ul li a{
    color: green;
    text-transform: capitalize;
    padding: 10px 0px;
}
hr{
    color: 3px dotted green;
}
.links ul li:hover{
    background: green;
}
.links ul li a:hover{
    color: #fff;
    list-style: none;
}

.content{
    padding: 20px;
    background: #f1f1f1;
    text-align: center;
}
.what-cbd h1{
    color: black;
    font-size: 40px;
}
.what-cbd h1 span{
    color: green;
}
.what-cbd h3{
    color: grey;
    font-size: 14px;
    text-align: justify;
}
.types{
    background: #f1f1f1;
    padding: 20px;
}
.types h1{
    font-size: 40px;
    text-align: center;
    color: black;
}
.types h1 span{
    color: green;
}
.types h3{
    font-size: 20px;
    text-decoration: underline;
    text-transform: capitalize;
}
.types li{
    list-style: decimal;
    padding: 5px;    
}
.types p{
    padding: 10px 0px;
    font-size: 15px;
    text-align: justify;
}

/*ads section*/
.video{
    padding: 30px;
    background: #f1f1f1;
}
.col-md-3{
    border-left: 1px solid green;
}
.btn{
    margin-top: 40px;
    position: absolute;
}
.btn a{
    color: #fff;
    border: 0;
    padding: 15px;
    background-image: linear-gradient(to right, green, greenyellow);
    border-radius: 22px;
    text-align: center;

}
.conect{
    margin-top: 80px;
}
.conect h1{
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 10px;
}
.conect h1 span{
    color: green;
}
.conect p{
    font-size: 17px;
    text-align: center;
    color: grey;
}
.conect li{
    list-style: none;
    display: inline-block;
}
.conect li a{
    color: black;
}
.fab{
    cursor: pointer;
    margin: 20px;
}

/* the footer*/
#footer{
    background: #f1f1f1;
}
.owner h2{
    font-size: 18px;
    text-align: center;
    color: grey;
    padding: 0px;
    margin: 40px;
}
.owner h1{
    font-size: 16px;
    text-align: center;
    color: green;
    padding: 20px;
    margin: 40px;
}
#footer .col-md-4 h1{
    color: green;
    font-size: 35px;
    margin-left: 40px;
}
.foot1{
    margin: 20px;
}
.foot1 ul{
    list-style: none;
    display: block;
    position: relative;
}
.foot1 ul li{
    margin-top: 20px;
}
.foot1 ul li a{
    font-size: 16px;
    color: grey;
    text-transform: capitalize;
    margin-top: 10px;
}
.foot1 ul li a:hover{
    color: green;
    transition: 1s;
    text-decoration: none;
}
.pro img{
    width: 120px;
    border: 3px solid green;
    border-radius: 70px;
    margin-top: 20px;
    flex: 1;
    margin-left: 40px;
}
.pro p{
    flex: 2;
    font-size: 20px;
    color: green;
    margin-top: 10px;
}
.foot2 {
    margin: 20px;
}
.foot2 h1{
    font-size: 35px;
}
.foot2 p{
    margin-left: 40px;
    font-size: 14px;
    color: grey;
}

#footer .col-md-4{
    border-right: 1px solid green;
}
.but {
   background-image: linear-gradient(to right, green, greenyellow);
   color: #fff;
   border-radius: 30px;
   padding: 15px 30px;
   box-shadow: honeydew;
   border-width: 0;
}
input[type=text], select{
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.foot3 p{
    margin: 60px;
}
.foot3 .sendsub{
    margin: 60px;
}
.foot3 .sub{
    margin-right: 40px;
    margin-left: 60px;
    margin-top: -30px;
}
.foot3 h1{
    margin: 20px;
    padding-left: 20px;
}





/*about us section*/
.about{
    margin: 0;
    padding: 0;
    background-image: url(310.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.about .upper{
    padding: 100px 60px;
}
.about .upper h1{
    font-size: 40px;
    color: green;
    text-shadow: 2px 2px #fff;
    padding: 50px 10px;
}
.about .upper p{
    font-size: 15px;
    color:  black;
    padding: 50px 10px;
    text-shadow: 1px 1px #f3f3f3;
}
.about .upper h1 span{
    font-size: 40px;
    color: #fff;
    text-shadow: 1.5px 1.5px grey;
    padding: 50px 10px;
}




/*  login section*/
#login {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0px;
}
.signin {
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 350px;
    margin: auto;
    margin-top: 80px;
    height: 500px;
    border-radius: 20px;
}
.signin form{
    text-align: center;
}
.signin form input[type=text] {
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    width: 100%;
}
.signin form input[type=button] {
    border: none;
    background: #fff;
    border-radius: 30px;
    width: 100%;
    color: black;
    padding: 10px 0;
    margin-top: 14px;
    font-size: 20px;
    cursor: pointer;
}
.signin form input[type=button]:hover {
    color: #fff;
    background: #000000;
}
.signin form h2{
    color: #fff;
}
.signin form a{
    color: yellowgreen;
    text-decoration: blink;
    font-size: 16px;
}
.signin form a:hover{
    color: green;
}
::placeholder{
    color: #f3f3f3;
    opacity: 0.8;
}
.signin form p{
    color: #fff;
}



/*  signup section*/
#signup {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0px;
}
.signup {
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 450px;
    margin: auto;
    margin-top: 80px;
    height: 840px;
    border-radius: 20px;
}
.signup form{
    text-align: center;
    width: 100%;
}
.signup form input[type=text]{
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    width: 100%;
}
.signup form input[type=button] {
    border: none;
    background: #fff;
    border-radius: 30px;
    width: 100%;
    color: black;
    padding: 10px 0;
    margin-top: 14px;
    font-size: 20px;
    cursor: pointer;
}
.signup form input[type=button]:hover {
    color: #fff;
    background: #000000;
}
.signup form h2{
    color: #fff;
}
.signup form a{
    color: yellowgreen;
    text-decoration: blink;
    font-size: 16px;
}
.signup form a:hover{
    color: green;
}
::placeholder{
    color: #f3f3f3;
    opacity: 0.8;
}
.signup form p{
    color: #fff;
}
.signup form .useothers{
    width: 100%;
}
.signup form .useothers a{
    color: green;
    background: #fff;
    padding: 15px;
    margin: 10px 10px;
    border: none;
    border-radius: 25px;
}
.signup form select {
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    width: 100%;
}
.signup form  select:hover {
    text-align: center;
    background: rgba(44,62,80,0.7);
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    width: 100%;
}




/*  contact us section*/
#contact {
    background-image: url(ma.JPG);
    background-size: cover;
    background-position: center;
    padding: 40px 0px;
}
.cont {
    background: rgba(44,62,80,0.8);
    padding: 40px;
    width: 350px;
    margin: auto;
    margin-top: 80px;
    height: 570px;
    border-radius: 20px;
}
.cont form{
    text-align: center;
}
.cont form input[type=text] {
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    width: 100%;
}
.cont form input[type=button] {
    border: none;
    background: #fff;
    border-radius: 30px;
    width: 100%;
    color: black;
    padding: 10px 0;
    margin-top: 14px;
    font-size: 20px;
    cursor: pointer;
}
.cont form input[type=button]:hover {
    color: #fff;
    background: #000000;
}
.cont form h2{
    color: #fff;
}
.cont form a{
    color: #fff;
    text-decoration: blink;
    font-size: 16px;
}
::placeholder{
    color: #f3f3f3;
    opacity: 0.8;
}
.signin form p{
    color: #fff;
}
.cont form textarea{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    height: 200px;
    outline: none;
    transition: 0.5s;
}



/* services section*/
#service{
    width: 100%;
    height: 85vh;
    background-image: url(cd.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.service .serve{
    font-size: 85px;
    color: green;
    font-weight: 60;
    line-height: .6;
    letter-spacing: 6px;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 1px 1px #fff;
    animation: fadeUp .5s forwards;
    animation-delay: 1s;
    opacity: 0;
}
.service .headline
{
    color: black;
    font-size: 37px;
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 8px;
    text-shadow: 1px 1px #fff;
    animation: scale 1s forwards;
    opacity: 0;
}

.service .separator{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service .line{
    width: 100%;
    max-width: 150px;
    height: 2.5px;
    background-color: green;
    position: relative;
    animation: grow .5s forwards;
    animation-delay: 1s;
    opacity: 0;
}
.asterisk{
    font-size: 30px;
    color: brown;
    margin: -5px -5px;
}
.service h5{
    color: black;
    font-size: 17px;
    letter-spacing: 3px;
    text-shadow: 1px 1px #fff;
    animation: fadeDown .5s forwards;
    animation-delay: 1s;
    opacity: 0;
}
.headline-desc{
    text-shadow: 1px 1px #fff;
}
@keyframes fadeUp {
    0%{
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale {
    0%{
        transform: scale(3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes grow {
    0%{
        width: 0%;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes fadeDown {
    0%{
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}




/* gigs section*/
#gig{
    background: lightgrey;
    margin: 0;
}
.gigs{
    padding: 25px;
}
.gigs .inline{
    margin: 5px;
    border: 1px solid green;
    padding: 0px;
    border-radius: 10px;
    background: #f3f3f3;
    width: 100%;
}

.gigs .col-md-3 img{
    width: 100%;
    border-radius: 10px;
    height: 300px;
}
.gigs .col-md-3 h3{
    font-size: 17px;
    margin: 10px;
    padding: 10px;
}
.gigs .col-md-3 h3 a{
    color: yellowgreen;
    text-transform: capitalize;
}
.gigs .col-md-3 h2{
    color: grey;
    font-size: 18px;
    margin: 20px;
    padding: 5px;
}
.gigs .col-md-3 .revs{
    display: flex;
    margin: 0;
    padding: 10px 20px;
    border-top: 1px dotted green;
    border-radius: 10px;
}
.gigs .col-md-3 h3 a:hover{
    color: grey;
    text-decoration: none;
}
.gigs .col-md-3 .revs .fas{
    font-size: 25px;
    color: #fff;
    margin: 0px 10px;
}
.gigs .col-md-3 .revs h4{
    font-size: 22px;
    text-align: right;
    flex: 2;
}
.gigs .col-md-3 .revs .fas.fa-heart:hover{
    color: red;
}
.gigs .col-md-3 .revs .fas.fa-star{
    color: yellow;
}




/* agents section*/
#agents{
    margin: 0;
    padding: 20px;
    background: lightgrey;
}
.agent .col-md-6{
    padding: 20px;
    text-align: center;
    align-items: center;
    margin: 0px;
}
.agent .col-md-6 .names{
    color: green;
    font-size: 35px;
    margin: 10px 30px;
}
.agent .col-md-6 .level{
    font-size: 20px;
    color: black;
    margin: 30px 30px;

}
.agent .col-md-6 .dids{
    color: #808080;
    font-size: 15px;
    margin: 20px 30px;

}
.agent .col-md-6 input[type=button]{
    background-image: linear-gradient(to right, green, yellowgreen);
    border: none;
    padding: 10px 50px;
    border-radius: 30px;
    color: white;
    font-size: 25px;
}
.agent .col-md-6 .propics{
    margin: auto;
}
.agent .col-md-6 .propics img{
    max-width: 400px;
    width: 400px;
    height: 400px;
    max-height: 400px;
    border-radius: 40px;
}
